@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mark-size: 25px;
    --primary-color: #ffbe0b;
    --secondary-color: #3a86ff;
    --text-primary-color: #5f676f;
    --text-secondary-color: #fff;
}

body {
    font-size: 1rem;
    font-style: normal;
    line-height: 1.6;
    font-family: 'Andada Pro', serif; 
    padding-top: 4rem;
}

:is(first-child, :last-child) .list-group-item {
    border-radius: 0;
}

.navbar {
    background-color: var(--secondary-color) !important;
}

.pokemon-btn {
    min-width: 150px !important;
    background-color: var(--primary-color);
    box-shadow: 4px 4px 4px -2px var(--secondary-color);
}

.list-group {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.btn:hover {
    color: white;
    opacity: .8;
}

.navbar-img-logo {
    height: 40px;
    max-width: 200px;
}

.pokemon-img {
    height: 150px;
    width: 150px;
    align-self: center;
}

.modal-content {
    border-width: 2px;
    border-radius: .5rem;
}

.modal-header {
	border: none;
    color: var(--text-secondary-color);
    padding: 5px;
}

.modal-footer {
    border: none;
}

.modal-header .btn-close {
    z-index: 99;
    margin-left: -4rem;
    border-color: transparent;
    border-radius: 30%;
    cursor: pointer;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.text-bold {
    font-weight: 300;
    color: var(--text-primary-color);
}

.pokemon-type {
    display: inline-block;
    padding: 2px 6px;
    margin: 2px;
    color: var(--text-secondary-color);
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
}

@media screen and (max-width:576px) {
    .list-group {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}