
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mark-size: 25px;
    --primary-color: #ffbe0b;
    --secondary-color: #3a86ff;
}

body {
    font-size: 1rem;
    font-style: normal;
    line-height: 1.6;
    font-family: 'Andada Pro', serif; 
    min-height: 75rem;
    padding-top: 4rem;
}

:is(first-child, :last-child) .list-group-item {
    border-radius: 0;
}

.navbar {
    background-color: var(--secondary-color) !important;
}

.pokemon-btn {
    min-width: 150px !important;
    background-color: var(--primary-color);
    box-shadow: 4px 4px 4px -2px var(--secondary-color);
}

.btn:hover {
    color: white;
    opacity: .8;
}

.navbar-img-logo {
    height: 40px;
    max-width: 200px;
}

.pokemon-img {
    height: 150px;
    width: 150px;
    align-self: center;
}

.modal-header {
	border: none;
    color: white;
    padding: 5px;
}

.modal-footer {
    border: none;
}

.modal-header .btn-close {
    z-index: 99;
    margin-left: -4rem;
    border-color: transparent;
}