@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 1rem/1.6 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon-list {  
    list-style: none;
}

.pokemon-list-title {
    text-decoration: underline;
}
.pokemon-btn {
    min-width: 400px;
    margin: 5px auto;
    padding: 10px;
}
